

<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('http://az616578.vo.msecnd.net/files/2016/07/28/636053241284023565-1698910486_635993185839763884-1853824258_high%20school%20graduation.jpg');">
  <div class="banner-content">
    <h1>Tchau Facul</h1>
    <p>O mercado de trabalho te espera</p>
   <!--  <a <%= link_to "CLIQUE AQUI", services_path, :method => "get", :class=>"btn btn-primary btn-lg"  %></a> -->
  </div>
</div>


<div class="col-md-12 text-center"><h1>Categoria de Serviços</h1></div>
<br>
<br>
<br>
<section class="carousel slide" data-ride="carousel" id="postsCarousel">

    <div class="row">
      <div class="carousel slide" data-ride="carousel" data-type="multi" data-interval="3000" id="myCarousel">
      <div class="container p-t-0 m-t-2 carousel-inner">
          <div class="row row-equal carousel-item active m-t-0">
          <% @categories.each do |category| %>
              <div class="col-md-4">
                  <div class="card">
                      <div class="card-img-top card-img-top-250">
                          <img class="img-fluid" src="http://i.imgur.com/EW5FgJM.png" alt="Carousel 1">
                      </div>
                      <div class="card-block p-t-2">
                          <h2>
                              <a href><%= link_to category, services_path(category: category) %></a>
                          </h2>
                      </div>
                  </div>
              </div>
            <% end %> -->
         </div>
         </div>
         <a class="left carousel-control" href="#myCarousel" data-slide="prev"><i class="glyphicon glyphicon-chevron-left"></i></a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next"><i class="glyphicon glyphicon-chevron-right"></i></a>
      </div>
    </div>
</section>


