


<div class="container-fluid">
  <div class="row">
  <% @services.each do |service| %>
   <div class="col-xs-12 col-sm-4">
     <div class="card-serv">
     <div class="card-category"></div>
     <div class="card-description">
       <h3 ><%= link_to "#{service.description}", service_path(service) %></h3>
       <p ><%= service.user_id %></p>
       <p ><%= service.category %></p>
     </div>
     </div>
   </div>
   <% end %>
  </div>
</div>

