

<section>
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-16 col-sm-4">
      <%= render "card" %>
      </div>
      <%= render 'proposal' %>
    </div>
  </div>
</section>


<section>
  <table class="table">
    <thead>
      <tr>
        <th>Descrição</th>
        <th>Data</th>
      </tr>
    </thead>
    <tbody>
    <% @proposal_list.each do |proposal| %>
      <tr>
        <td><%= proposal.description %></td>
        <td><%= proposal.created_at %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
</section>
