/* -------------------------------------
 * CSS code specific to home page
 * (margin/padding adjustments)
 * ------------------------------------- */
#link-category {
  color: #FF4B3E;
  font-weight: lighter;
  font-family: 'Raleway', sans-serif;
  font-size: 13px;
}

#proposal-avatar{
  border-radius: 50px;
  width: 90px;
}

#text-user{
  font-size: 21px;
  margin: 35px auto;
}

#text-category{
  margin-top: 133px;
  margin-left: 118px;
}
