<h1><%= @my_proposal.name %></h1>
<p><%= @my_proposal.address %></p>
<p><%= @my_proposal.description %></p>

<%= link_to 'Editar minha proposta', edit_my_proposal_path(@proposal), class: "btn btn-primary", id: "link" %>
