<div class = "text-detail text-center">
  <div class="col-md-12 padded margin-fix-bottom">
      <h1>Qual é a minha proposta para esse serviço?</h1>
      <br>
      <h4><%= @my_proposal.description %></h4>
      <%= link_to 'Editar minha proposta', edit_my_proposal_path(@my_proposal), class: "button btn-sm btn btn-primary" %>
  </div>
</div>
