<div class = "container text-detail">
  <div class="col-md-12 padded margin-fix-bottom">
      <h1>My proposal to this service</h1>
      <br>
      <h4><%= @my_proposal.description %></h4>
      <%= link_to 'Edit my proposal', edit_my_proposal_path(@my_proposal), class: "button-show btn-md btn btn-primary" %>
      <%= link_to "Back", :back, class: "button-show btn-md btn btn-warning " %>
  </div>
</div>




